extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update
  else
 
    - let televisionShowid = toShow._id 
    - let televisionShowname = toShow.ts_name 
    - let televisionShowruntime = toShow.ts_runtime 
    - let televisionShowbroadcastchannel = toShow.ts_broadcastchannel 
    
    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{televisionShowid} 
    - let actionid = "/resource/televisionShows/" + televisionShowid 
    form(id='televisionShowForm', action= actionid, method="PUT") 
        div.form-group 
            label.televisionShowAttr(for='name') Television Show name 
            input#name(type='text', name='name', value= televisionShowname ) 
        div.form-group 
            label.televisionShowAttr(for='runtime') Television Show runtime 
            input#runtime(type='number', name='runtime', value= televisionShowruntime ) 
        div.form-group 
            label.televisionShowAttr(for='broadcastchannel') Television Show broadcastchannel 
            input#broadcastchannel(type='text', name='broadcastchannel', value= televisionShowbroadcastchannel ) 
        input(type="submit") 
    
    script. 
        document.forms['televisionShowForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        }); 